In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('strokes_data.csv')

In [3]:
df

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,30669,Male,3.0,0,0,No,children,Rural,95.12,18.0,NaN,0
1,30468,Male,58.0,1,0,Yes,Private,Urban,87.96,39.2,never smoked,0
2,16523,Female,8.0,0,0,No,Private,Urban,110.89,17.6,NaN,0
3,56543,Female,70.0,0,0,Yes,Private,Rural,69.04,35.9,formerly smoked,0
4,46136,Male,14.0,0,0,No,Never_worked,Rural,161.28,19.1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...
43395,56196,Female,10.0,0,0,No,children,Urban,58.64,20.4,never smoked,0
43396,5450,Female,56.0,0,0,Yes,Govt_job,Urban,213.61,55.4,formerly smoked,0
43397,28375,Female,82.0,1,0,Yes,Private,Urban,91.94,28.9,formerly smoked,0
43398,27973,Male,40.0,0,0,Yes,Private,Urban,99.16,33.2,never smoked,0
43399,36271,Female,82.0,0,0,Yes,Private,Urban,79.48,20.6,never smoked,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43400 entries, 0 to 43399
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 43400 non-null  int64
 1   gender             43400 non-null  object
 2   age                43400 non-null  float64
 3   hypertension       43400 non-null  int64
 4   heart_disease      43400 non-null  int64
 5   ever_married       43400 non-null  object
 6   work_type          43400 non-null  object
 7   Residence_type     43400 non-null  object
 8   avg_glucose_level  43400 non-null  float64
 9   bmi                41938 non-null  float64
 10  smoking_status     30108 non-null  object
 11  stroke             43400 non-null  int64
dtypes: float64(3), int64(4), object(5)
memory usage: 4.0+ MB

In [5]:
df['stroke'].value_counts()

0    42617
1      783
Name: stroke, dtype: int64

# EDA / identify problems and fix them - Log Reg
- drop duplicates
- replace nulls
- encode strings and numbers
- (optional) scale numeric variables

In [6]:
# Number of duplicates:
df.duplicated().sum()

0

In [7]:
# Dealing with nulls: bmi and smoking status

df['bmi'].describe() #as the std is high it looks better tu substitute them by the median

count    41938.000000
mean        28.605038
std          7.770020
min         10.100000
25%         23.200000
50%         27.700000
75%         32.900000
max         97.600000
Name: bmi, dtype: float64

In [8]:
median = df['bmi'].median()

In [9]:
df['bmi'].fillna(median, inplace=True)

In [11]:
df['smoking_status'].fillna('unknown', inplace=True)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43400 entries, 0 to 43399
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 43400 non-null  int64
 1   gender             43400 non-null  object
 2   age                43400 non-null  float64
 3   hypertension       43400 non-null  int64
 4   heart_disease      43400 non-null  int64
 5   ever_married       43400 non-null  object
 6   work_type          43400 non-null  object
 7   Residence_type     43400 non-null  object
 8   avg_glucose_level  43400 non-null  float64
 9   bmi                43400 non-null  float64
 10  smoking_status     43400 non-null  object
 11  stroke             43400 non-null  int64
dtypes: float64(3), int64(4), object(5)
memory usage: 4.0+ MB

In [13]:
df.drop(['id'], axis = 1, inplace = True) #eliminating id column to avoid overfitting

In [14]:
df.columns= df.columns.str.lower() #putting all column names to lowercase

In [17]:
#encoding object columns
df_enc=pd.get_dummies(df['gender'])
df_enc=pd.get_dummies(df['ever_married'])
df_enc=pd.get_dummies(df['work_type'])
df_enc=pd.get_dummies(df['residence_type'])
df_enc=pd.get_dummies(df['smoking_status'])

# get your log regression model

In [ ]:
# The work is made in Sian's document, we did it alltogether.

# fit it to your data

# define X, define y, train test split (), fit()

# Evaluate model
- confusion matrix
- accuracy score