In [1]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
import pandas as pd
import numpy as np
import matplotlib.pyplot as mlp
import re
import seaborn as sns

In [2]:
df=pd.read_csv('alldata.csv.zip')
df

,position,company,description,reviews,location
0,Development Director,ALS TDI,Development Director\nALS Therapy Development ...,NaN,"Atlanta, GA 30301"
1,An Ostentatiously-Excitable Principal Research...,The Hexagon Lavish,"Job Description\n\n""The road that leads to acc...",NaN,"Atlanta, GA"
2,Data Scientist,Xpert Staffing,"Growing company located in the Atlanta, GA are...",NaN,"Atlanta, GA"
3,Data Analyst,Operation HOPE,DEPARTMENT: Program OperationsPOSITION LOCATIO...,44.0,"Atlanta, GA 30303"
4,Assistant Professor -TT - Signal Processing & ...,Emory University,DESCRIPTION\nThe Emory University Department o...,550.0,"Atlanta, GA"
...,...,...,...,...,...
6959,Data Developer / Machine Learning Analyst,NetApp,Are you data-driven? We at NetApp believe in t...,574.0,"Sunnyvale, CA"
6960,Scientist I,"Pharmacyclics, an Abbvie Company",Pharmacyclics is committed to the development ...,26.0,"Sunnyvale, CA"
6961,Intern Scientist,Oath Inc,"Oath, a subsidiary of Verizon, is a values-led...",5.0,"Sunnyvale, CA"
6962,Senior Data & Applied Scientist,Microsoft,We are the Bing Core Relevance team responsibl...,4618.0,"Sunnyvale, CA"
6963,"Principal Data Scientist, Deep Learning",Comcast,Comcast’s Technology &amp; Product organizatio...,11610.0,"Sunnyvale, CA 94089"

# Data cleaning

#### 1.deal with nulls 
     - check for duplicates in the data frame
     - drop reviews column

In [3]:
df.columns

Index(['position', 'company', 'description', 'reviews', 'location'], dtype='object')

In [4]:
df.drop(columns='reviews', inplace=True)
df

,position,company,description,location
0,Development Director,ALS TDI,Development Director\nALS Therapy Development ...,"Atlanta, GA 30301"
1,An Ostentatiously-Excitable Principal Research...,The Hexagon Lavish,"Job Description\n\n""The road that leads to acc...","Atlanta, GA"
2,Data Scientist,Xpert Staffing,"Growing company located in the Atlanta, GA are...","Atlanta, GA"
3,Data Analyst,Operation HOPE,DEPARTMENT: Program OperationsPOSITION LOCATIO...,"Atlanta, GA 30303"
4,Assistant Professor -TT - Signal Processing & ...,Emory University,DESCRIPTION\nThe Emory University Department o...,"Atlanta, GA"
...,...,...,...,...
6959,Data Developer / Machine Learning Analyst,NetApp,Are you data-driven? We at NetApp believe in t...,"Sunnyvale, CA"
6960,Scientist I,"Pharmacyclics, an Abbvie Company",Pharmacyclics is committed to the development ...,"Sunnyvale, CA"
6961,Intern Scientist,Oath Inc,"Oath, a subsidiary of Verizon, is a values-led...","Sunnyvale, CA"
6962,Senior Data & Applied Scientist,Microsoft,We are the Bing Core Relevance team responsibl...,"Sunnyvale, CA"
6963,"Principal Data Scientist, Deep Learning",Comcast,Comcast’s Technology &amp; Product organizatio...,"Sunnyvale, CA 94089"

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6964 entries, 0 to 6963
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   position     6953 non-null   object
 1   company      6953 non-null   object
 2   description  6953 non-null   object
 3   location     6953 non-null   object
dtypes: object(4)
memory usage: 217.8+ KB

In [6]:
df=df.dropna(axis = 0, how ='any')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6953 entries, 0 to 6963
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   position     6953 non-null   object
 1   company      6953 non-null   object
 2   description  6953 non-null   object
 3   location     6953 non-null   object
dtypes: object(4)
memory usage: 271.6+ KB

In [8]:
# checking for duplicates

df.duplicated().sum()

0

### 2. splitting the Location series into city and state using the pandas.Series.str.split function
     2.1 - dropping the location column after splitting to avoid noise in the series

In [9]:
df[['City', 'State']] = df['location'].str.split(',', n=1, expand=True)
df

<ipython-input-9-bcfb6b0cc29e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[['City', 'State']] = df['location'].str.split(',', n=1, expand=True)
<ipython-input-9-bcfb6b0cc29e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[['City', 'State']] = df['location'].str.split(',', n=1, expand=True)

,position,company,description,location,City,State
0,Development Director,ALS TDI,Development Director\nALS Therapy Development ...,"Atlanta, GA 30301",Atlanta,GA 30301
1,An Ostentatiously-Excitable Principal Research...,The Hexagon Lavish,"Job Description\n\n""The road that leads to acc...","Atlanta, GA",Atlanta,GA
2,Data Scientist,Xpert Staffing,"Growing company located in the Atlanta, GA are...","Atlanta, GA",Atlanta,GA
3,Data Analyst,Operation HOPE,DEPARTMENT: Program OperationsPOSITION LOCATIO...,"Atlanta, GA 30303",Atlanta,GA 30303
4,Assistant Professor -TT - Signal Processing & ...,Emory University,DESCRIPTION\nThe Emory University Department o...,"Atlanta, GA",Atlanta,GA
...,...,...,...,...,...,...
6959,Data Developer / Machine Learning Analyst,NetApp,Are you data-driven? We at NetApp believe in t...,"Sunnyvale, CA",Sunnyvale,CA
6960,Scientist I,"Pharmacyclics, an Abbvie Company",Pharmacyclics is committed to the development ...,"Sunnyvale, CA",Sunnyvale,CA
6961,Intern Scientist,Oath Inc,"Oath, a subsidiary of Verizon, is a values-led...","Sunnyvale, CA",Sunnyvale,CA
6962,Senior Data & Applied Scientist,Microsoft,We are the Bing Core Relevance team responsibl...,"Sunnyvale, CA",Sunnyvale,CA
6963,"Principal Data Scientist, Deep Learning",Comcast,Comcast’s Technology &amp; Product organizatio...,"Sunnyvale, CA 94089",Sunnyvale,CA 94089

In [10]:
df.drop(columns='location', inplace=True)
df

<ipython-input-10-6fc855a25de2>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns='location', inplace=True)

,position,company,description,City,State
0,Development Director,ALS TDI,Development Director\nALS Therapy Development ...,Atlanta,GA 30301
1,An Ostentatiously-Excitable Principal Research...,The Hexagon Lavish,"Job Description\n\n""The road that leads to acc...",Atlanta,GA
2,Data Scientist,Xpert Staffing,"Growing company located in the Atlanta, GA are...",Atlanta,GA
3,Data Analyst,Operation HOPE,DEPARTMENT: Program OperationsPOSITION LOCATIO...,Atlanta,GA 30303
4,Assistant Professor -TT - Signal Processing & ...,Emory University,DESCRIPTION\nThe Emory University Department o...,Atlanta,GA
...,...,...,...,...,...
6959,Data Developer / Machine Learning Analyst,NetApp,Are you data-driven? We at NetApp believe in t...,Sunnyvale,CA
6960,Scientist I,"Pharmacyclics, an Abbvie Company",Pharmacyclics is committed to the development ...,Sunnyvale,CA
6961,Intern Scientist,Oath Inc,"Oath, a subsidiary of Verizon, is a values-led...",Sunnyvale,CA
6962,Senior Data & Applied Scientist,Microsoft,We are the Bing Core Relevance team responsibl...,Sunnyvale,CA
6963,"Principal Data Scientist, Deep Learning",Comcast,Comcast’s Technology &amp; Product organizatio...,Sunnyvale,CA 94089

In [11]:
#checking for how many unique values in  each columns
for c in df.columns:
     print(c, len(df[c].unique()))

position 5242
company 2213
description 6708
City 91
State 318

In [12]:
df['State'].unique()

array([' GA 30301 ', ' GA', ' GA 30303 ', ' GA 30318 ', ' GA 30338',
       ' GA 30309 ', ' GA 30329', ' GA 30328', ' GA 30313 ', ' GA 30306 ',
       ' GA 30327 ', ' GA 30322', ' GA 30319', ' GA 30342 ', ' GA 30308 ',
       ' GA 30341', ' GA 30326 ', ' GA 30361 ', ' GA 30363 ',
       ' GA 30332 ', ' GA 30345', ' GA 30350', ' GA 30339', ' TX',
       ' TX 78746', ' TX 78701', ' TX 78759', ' TX 78664', ' TX 78613',
       ' TX 78702', ' TX 78754', ' TX 78751', ' TX 73344', ' TX 78731',
       ' TX 78716', ' TX 78729', ' TX 78758', ' TX 78769', ' TX 78753',
       ' TX 78703', ' TX 78744', ' TX 78723', ' TX 78747', ' TX 78730',
       ' TX 78727', ' CO', ' CO 80302', ' CO 80301', ' MA', ' MA 02110',
       ' MA 02129', ' MA 02116', ' MA 02111', ' MA 02298', ' MA 02109',
       ' MA 02210', ' MA 02212', ' MA 02215', ' MA 02114', ' MA 02199',
       ' MA 02134', ' MA 02108', ' MA 02201', ' MA 02115', ' MA 02118',
       ' IL', ' IL 60642', ' IL 60603', ' IL 60606', ' IL 60601',
       ' IL 60664', ' IL 60290', ' IL 60654', ' IL 60614', ' IL 60604',
       ' IL 60607', ' IL 60647', ' IL 60661', ' IL 60657', ' IL 60659',
       ' IL 60631', ' IL 60610', ' IL 60611', ' IL 60615', ' IL 60613',
       ' IL 60602', ' IL 60646', ' IL 60616', ' DC 20006', ' DC 20422',
       ' DC 20005', ' DC', ' DC 20001', ' DC 20036', ' DC 20003',
       ' DC 20044', ' DC 20230', ' DC 20037', ' DC 20024', ' DC 20032',
       ' DC 20229', ' DC 20002', ' DC 20020', ' DC 20022', ' DC 20009',
       ' DC 20318', ' DC 20301', ' DC 20585', ' DC 20376', ' DC 20004',
       ' DC 20535', ' DC 20007', ' DC 20010', ' CA', ' CA 90002',
       ' CA 90012', ' CA 90006', ' CA 90036', ' CA 90064', ' CA 90001',
       ' CA 90025', ' CA 90067', ' CA 90015', ' CA 90028', ' CA 90048',
       ' CA 90024', ' CA 90071', ' CA 90095', ' CA 90066', ' CA 90046',
       ' CA 90010', ' CA 90045', ' CA 90016', ' CA 90017', ' MA 02139',
       ' MA 02140', ' MA 02142', ' MA 02141', ' MA 02138', ' MA 02163',
       ' CA 94040', ' CA 94043', ' CA 94039', ' CA 94041', ' NY',
       ' CA 94035', ' NY 10032', ' NJ', ' NY 10016', ' NY 10003',
       ' NY 10261', ' NY 10001', ' NY 10019', ' NY 10154', ' NY 10004',
       ' NY 10010', ' NY 10065', ' NY 10022', ' NY 10007', ' NY 10020',
       ' NY 10011', ' NY 10036', ' NJ 07030', ' NY 10014', ' NY 10017',
       ' NY 10173', ' NY 10002', ' NY 10282', ' NJ 07083', ' NJ 07105',
       ' NJ 07310', ' NY 10018', ' NY 10012', ' NY 10011 ', ' NY 10281 ',
       ' NY 10104 ', ' NY 10154 ', ' NY 10014 ', ' NY 10032 ',
       ' NY 10282 ', ' NY 10001 ', ' NY 10016 ', ' NY 10022 ',
       ' NJ 07932', ' NY 10006 ', ' NY 10261 ', ' NY 10179 ',
       ' NY 10013 ', ' NY 10018 ', ' NY 10003 ', ' NY 10176 ',
       ' NY 10002 ', ' NY 10023 ', ' NY 10029 ', ' NY 10017 ',
       ' NY 10107 ', ' NY 10038 ', ' NJ 07052', ' NY 10041 ',
       ' NY 10005 ', ' NY 10012 ', ' NY 10065 ', ' NY 10119 ',
       ' NY 10171 ', ' NY 10010 ', ' NY 10021 ', ' NJ 07072', ' NY 10962',
       ' NJ 07310 ', ' NJ 07068', ' NY 10168 ', ' NY 10172 ', ' NJ 07936',
       ' NY 11561', ' NY 11249 ', ' NJ 07311 ', ' NY 10019 ', ' NY 11030',
       ' NY 10701', ' NY 11216 ', ' NY 10279 ', ' NY 10004 ', ' NY 11040',
       ' NY 10055 ', ' NY 11050', ' NY 10027 ', ' NY 10007 ', ' NY 11201',
       ' WA 98052', ' WA', ' WA 98053', ' CA 92109', ' CA 92121',
       ' CA 92108', ' CA 92127', ' CA 92111', ' CA 92123', ' CA 92122',
       ' CA 92130', ' CA 92120', ' CA 92102', ' CA 92154', ' CA 92128',
       ' CA 92129', ' CA 92110', ' CA 92105', ' WA 98104', ' WA 98109',
       ' WA 98101', ' WA 98115', ' WA 98102', ' WA 98121', ' WA 98119',
       ' WA 98103', ' WA 98105', ' WA 98127', ' WA 98194', ' WA 98106',
       ' WA 98168', ' WA 98164', ' WA 98122', ' WA 98188', ' WA 98134',
       ' WA 98195', ' CA 94103', ' CA 94105', ' CA 94124', ' CA 94063',
       ' CA 94026', ' CA 94065', ' CA 94107', ' CA 94114', ' CA 94158',
       ' CA 94104', ' CA 94133', ' CA 94062', ' CA 94612', ' CA 94608',
       ' CA 94080', ' CA 94070', ' CA 94115', ' CA 94404', ' CA 94108',
       ' CA 94126', ' CA 94587', ' CA 94010', ' CA 94804', ' CA 94710',
       ' CA 94111', ' CA 94083', ' CA 94102', ' CA 94501', ' CA 94403',
       ' CA 94025', ' CA 94611', ' CA 94607', ' CA 94061', ' CA 94949',
       ' CA 94545', ' CA 94401', ' CA 94016', ' CA 94941', ' CA 94129',
       ' CA 94109', ' CA 94555', ' CA 94806', ' CA 94066', ' CA 94002',
       ' CA 94110', ' CA 94122', ' CA 94904', ' CA 94601', ' CA 94402',
       ' CA 94117', ' CA 94596', ' CA 94089', ' CA 94085', ' CA 94086'],
      dtype=object)

##### 2.2 - importing regex commands to delete all zip codes in the state column to avoid many unique values 
         -dropping the State column with zip codes and replacing with state_in_general

In [13]:
import re

In [14]:
df['state_in_general'] = df['State'].str.replace('\d+','', regex=True)
df

<ipython-input-14-8eba736c98a1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['state_in_general'] = df['State'].str.replace('\d+','', regex=True)

,position,company,description,City,State,state_in_general
0,Development Director,ALS TDI,Development Director\nALS Therapy Development ...,Atlanta,GA 30301,GA
1,An Ostentatiously-Excitable Principal Research...,The Hexagon Lavish,"Job Description\n\n""The road that leads to acc...",Atlanta,GA,GA
2,Data Scientist,Xpert Staffing,"Growing company located in the Atlanta, GA are...",Atlanta,GA,GA
3,Data Analyst,Operation HOPE,DEPARTMENT: Program OperationsPOSITION LOCATIO...,Atlanta,GA 30303,GA
4,Assistant Professor -TT - Signal Processing & ...,Emory University,DESCRIPTION\nThe Emory University Department o...,Atlanta,GA,GA
...,...,...,...,...,...,...
6959,Data Developer / Machine Learning Analyst,NetApp,Are you data-driven? We at NetApp believe in t...,Sunnyvale,CA,CA
6960,Scientist I,"Pharmacyclics, an Abbvie Company",Pharmacyclics is committed to the development ...,Sunnyvale,CA,CA
6961,Intern Scientist,Oath Inc,"Oath, a subsidiary of Verizon, is a values-led...",Sunnyvale,CA,CA
6962,Senior Data & Applied Scientist,Microsoft,We are the Bing Core Relevance team responsibl...,Sunnyvale,CA,CA
6963,"Principal Data Scientist, Deep Learning",Comcast,Comcast’s Technology &amp; Product organizatio...,Sunnyvale,CA 94089,CA

In [15]:
df.drop(columns='State', inplace=True)
df

<ipython-input-15-b656d009bc71>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns='State', inplace=True)

,position,company,description,City,state_in_general
0,Development Director,ALS TDI,Development Director\nALS Therapy Development ...,Atlanta,GA
1,An Ostentatiously-Excitable Principal Research...,The Hexagon Lavish,"Job Description\n\n""The road that leads to acc...",Atlanta,GA
2,Data Scientist,Xpert Staffing,"Growing company located in the Atlanta, GA are...",Atlanta,GA
3,Data Analyst,Operation HOPE,DEPARTMENT: Program OperationsPOSITION LOCATIO...,Atlanta,GA
4,Assistant Professor -TT - Signal Processing & ...,Emory University,DESCRIPTION\nThe Emory University Department o...,Atlanta,GA
...,...,...,...,...,...
6959,Data Developer / Machine Learning Analyst,NetApp,Are you data-driven? We at NetApp believe in t...,Sunnyvale,CA
6960,Scientist I,"Pharmacyclics, an Abbvie Company",Pharmacyclics is committed to the development ...,Sunnyvale,CA
6961,Intern Scientist,Oath Inc,"Oath, a subsidiary of Verizon, is a values-led...",Sunnyvale,CA
6962,Senior Data & Applied Scientist,Microsoft,We are the Bing Core Relevance team responsibl...,Sunnyvale,CA
6963,"Principal Data Scientist, Deep Learning",Comcast,Comcast’s Technology &amp; Product organizatio...,Sunnyvale,CA

### 3.1 - identifying specified roles useful for our analysis (scientist, engineer or analyst) in the 'position' column

In [16]:
# first we change the strings in the position column to ignore case sensitive alphabelts
df['position'] = df['position'].str.lower()

<ipython-input-16-1ef8479713f1>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['position'] = df['position'].str.lower()

In [17]:
# using the the define() fuction to create a new column named job_position useful for our analysis
def job_position(position):
    if 'scient' in position:
        return 'scientist'
    elif 'analy' in position:
        return 'analyst'
    elif 'engine' in position:
        return 'engineer'
    else:
        return 'others'

In [18]:
df['job_position'] = df['position'].apply(job_position)
df

<ipython-input-18-1e6da3f6fec6>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['job_position'] = df['position'].apply(job_position)

,position,company,description,City,state_in_general,job_position
0,development director,ALS TDI,Development Director\nALS Therapy Development ...,Atlanta,GA,others
1,an ostentatiously-excitable principal research...,The Hexagon Lavish,"Job Description\n\n""The road that leads to acc...",Atlanta,GA,scientist
2,data scientist,Xpert Staffing,"Growing company located in the Atlanta, GA are...",Atlanta,GA,scientist
3,data analyst,Operation HOPE,DEPARTMENT: Program OperationsPOSITION LOCATIO...,Atlanta,GA,analyst
4,assistant professor -tt - signal processing & ...,Emory University,DESCRIPTION\nThe Emory University Department o...,Atlanta,GA,others
...,...,...,...,...,...,...
6959,data developer / machine learning analyst,NetApp,Are you data-driven? We at NetApp believe in t...,Sunnyvale,CA,analyst
6960,scientist i,"Pharmacyclics, an Abbvie Company",Pharmacyclics is committed to the development ...,Sunnyvale,CA,scientist
6961,intern scientist,Oath Inc,"Oath, a subsidiary of Verizon, is a values-led...",Sunnyvale,CA,scientist
6962,senior data & applied scientist,Microsoft,We are the Bing Core Relevance team responsibl...,Sunnyvale,CA,scientist
6963,"principal data scientist, deep learning",Comcast,Comcast’s Technology &amp; Product organizatio...,Sunnyvale,CA,scientist

### 3.2 identifying skills needed  for our analysis in the 'description' column
       - using the pandas.Series.str.contains function to return a new column of boolean values
    Note - flags= re.IGNORECASE to ignore case sensitive alphabelts and
    regex=True to assume the search word is a regular expression.
      -List of skills:

 - SQL
 - Python
 - R
 - Java
 - Predictive Analytics
 - Statistical Modeling
 - Machine learning
 - Deep learning
 - NLP
 - Scala

In [19]:
df['SQL']=df['description'].str.contains('SQL', flags=re.IGNORECASE, regex=True)
df['R']=df['description'].str.contains('R', flags=re.IGNORECASE, regex=True)
df['Predictive_analytics']=df['description'].str.contains('predictive', flags=re.IGNORECASE, regex=True)
df['Statistical_Modeling']=df['description'].str.contains('statistical', flags=re.IGNORECASE, regex=True)
df['Machine_learning']=df['description'].str.contains('machine', flags=re.IGNORECASE, regex=True)
df['Deep_learning']=df['description'].str.contains('deep|learn', flags=re.IGNORECASE, regex=True)
df['NLP']=df['description'].str.contains('nlp', flags=re.IGNORECASE, regex=True)
df['Scala']=df['description'].str.contains('scala', flags=re.IGNORECASE, regex=True)

<ipython-input-19-cf108e3cc226>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['SQL']=df['description'].str.contains('SQL', flags=re.IGNORECASE, regex=True)
<ipython-input-19-cf108e3cc226>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['R']=df['description'].str.contains('R', flags=re.IGNORECASE, regex=True)
<ipython-input-19-cf108e3cc226>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Predictive_analytics']=df['description'].str.contains('predictive', flags=re.IGNORECASE, regex=True)
<ipython-input-19-cf108e3cc226>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Statistical_Modeling']=df['description'].str.contains('statistical', flags=re.IGNORECASE, regex=True)
<ipython-input-19-cf108e3cc226>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Machine_learning']=df['description'].str.contains('machine', flags=re.IGNORECASE, regex=True)
<ipython-input-19-cf108e3cc226>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Deep_learning']=df['description'].str.contains('deep|learn', flags=re.IGNORECASE, regex=True)
<ipython-input-19-cf108e3cc226>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['NLP']=df['description'].str.contains('nlp', flags=re.IGNORECASE, regex=True)
<ipython-input-19-cf108e3cc226>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Scala']=df['description'].str.contains('scala', flags=re.IGNORECASE, regex=True)

In [20]:
df

,position,company,description,City,state_in_general,job_position,SQL,R,Predictive_analytics,Statistical_Modeling,Machine_learning,Deep_learning,NLP,Scala
0,development director,ALS TDI,Development Director\nALS Therapy Development ...,Atlanta,GA,others,False,True,False,False,False,False,False,False
1,an ostentatiously-excitable principal research...,The Hexagon Lavish,"Job Description\n\n""The road that leads to acc...",Atlanta,GA,scientist,False,True,False,True,False,True,False,True
2,data scientist,Xpert Staffing,"Growing company located in the Atlanta, GA are...",Atlanta,GA,scientist,True,True,True,True,True,True,False,False
3,data analyst,Operation HOPE,DEPARTMENT: Program OperationsPOSITION LOCATIO...,Atlanta,GA,analyst,True,True,False,True,False,False,False,False
4,assistant professor -tt - signal processing & ...,Emory University,DESCRIPTION\nThe Emory University Department o...,Atlanta,GA,others,False,True,False,True,True,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6959,data developer / machine learning analyst,NetApp,Are you data-driven? We at NetApp believe in t...,Sunnyvale,CA,analyst,True,True,False,False,True,True,False,True
6960,scientist i,"Pharmacyclics, an Abbvie Company",Pharmacyclics is committed to the development ...,Sunnyvale,CA,scientist,False,True,False,False,False,True,False,False
6961,intern scientist,Oath Inc,"Oath, a subsidiary of Verizon, is a values-led...",Sunnyvale,CA,scientist,True,True,False,False,True,True,False,False
6962,senior data & applied scientist,Microsoft,We are the Bing Core Relevance team responsibl...,Sunnyvale,CA,scientist,False,True,False,False,True,True,False,False
6963,"principal data scientist, deep learning",Comcast,Comcast’s Technology &amp; Product organizatio...,Sunnyvale,CA,scientist,True,True,True,False,True,True,True,True

### 3.2 identifying the required knwolegde of tools needed for our analysis in the 'description' column
   - using the pandas.Series.str.contains function to return a new column of boolean values
Note - flags= re.IGNORECASE to ignore case sensitive alphabelts and
regex=True to assume the search word is a regular expression.

List of tools:

 - Tableau
 - Looker
 - Power BI
 - Qlik
 - Hadoop
 - Oracle
 - Data Studio
 - Excel
 - Google Cloud Platform
 - Amazon Web Services
 - Microsoft Azure

In [21]:
df['Tableau']=df['description'].str.contains('tablea', flags=re.IGNORECASE, regex=True)
df['Looker']=df['description'].str.contains('loooker', flags=re.IGNORECASE, regex=True)
df['Power_BI']=df['description'].str.contains('power', flags=re.IGNORECASE, regex=True)
df['Qlik']=df['description'].str.contains('qli', flags=re.IGNORECASE, regex=True)
df['Hadoop']=df['description'].str.contains('hadoop', flags=re.IGNORECASE, regex=True)
df['Oracle']=df['description'].str.contains('oracle', flags=re.IGNORECASE, regex=True)
df['Data_studio']=df['description'].str.contains('studio', flags=re.IGNORECASE, regex=True)
df['Excel']=df['description'].str.contains('excel', flags=re.IGNORECASE, regex=True)
df['Google_CP']=df['description'].str.contains('google|cloud|perform', flags=re.IGNORECASE, regex=True)
df['Amazon_WS']=df['description'].str.contains('amazon|web|service', flags=re.IGNORECASE, regex=True)
df['Microsoft_azure']=df['description'].str.contains('microsoft|azure', flags=re.IGNORECASE, regex=True)

<ipython-input-21-ea6f1550af3f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Tableau']=df['description'].str.contains('tablea', flags=re.IGNORECASE, regex=True)
<ipython-input-21-ea6f1550af3f>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Looker']=df['description'].str.contains('loooker', flags=re.IGNORECASE, regex=True)
<ipython-input-21-ea6f1550af3f>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Power_BI']=df['description'].str.contains('power', flags=re.IGNORECASE, regex=True)
<ipython-input-21-ea6f1550af3f>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Qlik']=df['description'].str.contains('qli', flags=re.IGNORECASE, regex=True)
<ipython-input-21-ea6f1550af3f>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Hadoop']=df['description'].str.contains('hadoop', flags=re.IGNORECASE, regex=True)
<ipython-input-21-ea6f1550af3f>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Oracle']=df['description'].str.contains('oracle', flags=re.IGNORECASE, regex=True)
<ipython-input-21-ea6f1550af3f>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Data_studio']=df['description'].str.contains('studio', flags=re.IGNORECASE, regex=True)
<ipython-input-21-ea6f1550af3f>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Excel']=df['description'].str.contains('excel', flags=re.IGNORECASE, regex=True)
<ipython-input-21-ea6f1550af3f>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Google_CP']=df['description'].str.contains('google|cloud|perform', flags=re.IGNORECASE, regex=True)
<ipython-input-21-ea6f1550af3f>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Amazon_WS']=df['description'].str.contains('amazon|web|service', flags=re.IGNORECASE, regex=True)
<ipython-input-21-ea6f1550af3f>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Microsoft_azure']=df['description'].str.contains('microsoft|azure', flags=re.IGNORECASE, regex=True)

In [22]:
df

,position,company,description,City,state_in_general,job_position,SQL,R,Predictive_analytics,Statistical_Modeling,...,Looker,Power_BI,Qlik,Hadoop,Oracle,Data_studio,Excel,Google_CP,Amazon_WS,Microsoft_azure
0,development director,ALS TDI,Development Director\nALS Therapy Development ...,Atlanta,GA,others,False,True,False,False,...,False,False,False,False,False,False,True,False,False,False
1,an ostentatiously-excitable principal research...,The Hexagon Lavish,"Job Description\n\n""The road that leads to acc...",Atlanta,GA,scientist,False,True,False,True,...,False,False,False,False,False,False,True,True,False,False
2,data scientist,Xpert Staffing,"Growing company located in the Atlanta, GA are...",Atlanta,GA,scientist,True,True,True,True,...,False,False,True,True,True,False,False,False,False,False
3,data analyst,Operation HOPE,DEPARTMENT: Program OperationsPOSITION LOCATIO...,Atlanta,GA,analyst,True,True,False,True,...,False,True,False,False,False,False,False,True,False,False
4,assistant professor -tt - signal processing & ...,Emory University,DESCRIPTION\nThe Emory University Department o...,Atlanta,GA,others,False,True,False,True,...,False,False,False,False,False,False,False,True,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6959,data developer / machine learning analyst,NetApp,Are you data-driven? We at NetApp believe in t...,Sunnyvale,CA,analyst,True,True,False,False,...,False,True,False,True,True,False,True,True,True,True
6960,scientist i,"Pharmacyclics, an Abbvie Company",Pharmacyclics is committed to the development ...,Sunnyvale,CA,scientist,False,True,False,False,...,False,True,False,False,False,False,True,True,False,False
6961,intern scientist,Oath Inc,"Oath, a subsidiary of Verizon, is a values-led...",Sunnyvale,CA,scientist,True,True,False,False,...,False,False,False,True,True,False,False,False,True,False
6962,senior data & applied scientist,Microsoft,We are the Bing Core Relevance team responsibl...,Sunnyvale,CA,scientist,False,True,False,False,...,False,False,False,True,False,False,False,True,True,True
6963,"principal data scientist, deep learning",Comcast,Comcast’s Technology &amp; Product organizatio...,Sunnyvale,CA,scientist,True,True,True,False,...,False,False,False,True,False,False,True,False,True,False

### 3.3 identifying basic major's or degree's required for our analysis in the 'description' column
    - using the pandas.Series.str.contains function to return a new column of boolean values
    Note - flags= re.IGNORECASE to ignore case sensitive alphabelts and
    regex=True to assume the search word is a regular expression.
    List of degrees:

 - Business Analysis
 - Computer Science
 - Economics
 - Data Science
 - Mathematics
 - Data Engineering
 - Statistics
 - Bioinformatics

In [23]:
df['Business_analysis']=df['description'].str.contains('busine|analy', flags=re.IGNORECASE, regex=True)
df['Computer_science']=df['description'].str.contains('comput|scien', flags=re.IGNORECASE, regex=True)
df['Economics']=df['description'].str.contains('economic', flags=re.IGNORECASE, regex=True)
df['Data_science']=df['description'].str.contains('data|scien', flags=re.IGNORECASE, regex=True)
df['Mathematics']=df['description'].str.contains('mathematic', flags=re.IGNORECASE, regex=True)
df['Data_engineering']=df['description'].str.contains('data|engine', flags=re.IGNORECASE, regex=True)
df['Statistics']=df['description'].str.contains('statistic', flags=re.IGNORECASE, regex=True)
df['Bioinformatics']=df['description'].str.contains('bioinform', flags=re.IGNORECASE, regex=True)

<ipython-input-23-b3791944c0da>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Business_analysis']=df['description'].str.contains('busine|analy', flags=re.IGNORECASE, regex=True)
<ipython-input-23-b3791944c0da>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Computer_science']=df['description'].str.contains('comput|scien', flags=re.IGNORECASE, regex=True)
<ipython-input-23-b3791944c0da>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Economics']=df['description'].str.contains('economic', flags=re.IGNORECASE, regex=True)
<ipython-input-23-b3791944c0da>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Data_science']=df['description'].str.contains('data|scien', flags=re.IGNORECASE, regex=True)
<ipython-input-23-b3791944c0da>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Mathematics']=df['description'].str.contains('mathematic', flags=re.IGNORECASE, regex=True)
<ipython-input-23-b3791944c0da>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Data_engineering']=df['description'].str.contains('data|engine', flags=re.IGNORECASE, regex=True)
<ipython-input-23-b3791944c0da>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Statistics']=df['description'].str.contains('statistic', flags=re.IGNORECASE, regex=True)
<ipython-input-23-b3791944c0da>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Bioinformatics']=df['description'].str.contains('bioinform', flags=re.IGNORECASE, regex=True)

In [24]:
df

,position,company,description,City,state_in_general,job_position,SQL,R,Predictive_analytics,Statistical_Modeling,...,Amazon_WS,Microsoft_azure,Business_analysis,Computer_science,Economics,Data_science,Mathematics,Data_engineering,Statistics,Bioinformatics
0,development director,ALS TDI,Development Director\nALS Therapy Development ...,Atlanta,GA,others,False,True,False,False,...,False,False,True,True,False,True,False,True,False,False
1,an ostentatiously-excitable principal research...,The Hexagon Lavish,"Job Description\n\n""The road that leads to acc...",Atlanta,GA,scientist,False,True,False,True,...,False,False,True,True,False,True,True,True,True,False
2,data scientist,Xpert Staffing,"Growing company located in the Atlanta, GA are...",Atlanta,GA,scientist,True,True,True,True,...,False,False,True,True,True,True,False,True,True,False
3,data analyst,Operation HOPE,DEPARTMENT: Program OperationsPOSITION LOCATIO...,Atlanta,GA,analyst,True,True,False,True,...,False,False,True,True,False,True,False,True,True,False
4,assistant professor -tt - signal processing & ...,Emory University,DESCRIPTION\nThe Emory University Department o...,Atlanta,GA,others,False,True,False,True,...,True,False,True,True,False,True,False,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6959,data developer / machine learning analyst,NetApp,Are you data-driven? We at NetApp believe in t...,Sunnyvale,CA,analyst,True,True,False,False,...,True,True,True,True,False,True,False,True,False,False
6960,scientist i,"Pharmacyclics, an Abbvie Company",Pharmacyclics is committed to the development ...,Sunnyvale,CA,scientist,False,True,False,False,...,False,False,True,True,False,True,False,True,False,False
6961,intern scientist,Oath Inc,"Oath, a subsidiary of Verizon, is a values-led...",Sunnyvale,CA,scientist,True,True,False,False,...,True,False,True,True,False,True,True,True,True,False
6962,senior data & applied scientist,Microsoft,We are the Bing Core Relevance team responsibl...,Sunnyvale,CA,scientist,False,True,False,False,...,True,True,True,True,False,True,False,True,False,False
6963,"principal data scientist, deep learning",Comcast,Comcast’s Technology &amp; Product organizatio...,Sunnyvale,CA,scientist,True,True,True,False,...,True,False,True,True,False,True,True,True,True,False