# Creating a MVP for the song recommender

- Import data and create df
- Collect user input
- Deal with possible user input errors / behaviours
- Look for what the user has input, against the 100 hot song collection
- Feedback to user if their song is hot or not
- Provide a recommendation from the collection - potentially randomly

## Import data and create df

In [1]:
import pandas as pd
import random

In [2]:
top100= pd.read_excel('top100songs.xlsx') # import df
top100.head()

   rank              song                         singer
0     1       First Class                    Jack Harlow
1     2         As It Was                   Harry Styles
2     3        Wait For U  Future Featuring Drake & Tems
3     4       Moscow Mule                      Bad Bunny
4     5  Titi Me Pregunto                      Bad Bunny

In [3]:
top100['song'] = top100['song'].str.rstrip().str.lstrip().str.lower() #lower case all song and singer names
top100['singer'] = top100['singer'].str.lower()

In [4]:
top100

    rank              song                           singer
0      1       first class                      jack harlow
1      2         as it was                     harry styles
2      3        wait for u    future featuring drake & tems
3      4       moscow mule                        bad bunny
4      5  titi me pregunto                        bad bunny
..   ...               ...                              ...
95    96            frozen                         lil baby
96    97    young harleezy                      jack harlow
97    98                23                         sam hunt
98    99            poison  jack harlow featuring lil wayne
99   100            honest      justin bieber & don toliver

[100 rows x 3 columns]

## Collect user input

In [5]:
top100songs=top100['song'].tolist() # a column is a series, we should convert it to list

In [6]:
top100songs

['first class',
 'as it was',
 'wait for u',
 'moscow mule',
 'titi me pregunto',
 'despues de la playa',
 'heat waves',
 'big energy',
 'about damn time',
 'me porto bonito',
 'enemy',
 'thought you should know',
 'stay',
 'party',
 'the heart part 5',
 'un ratito',
 'ghost',
 'tarot',
 'puffin on zootiez',
 'woman',
 'dua lipa',
 'yo no soy celoso',
 'churchill downs',
 'bad habits',
 'super gremlin',
 'ojitos lindos',
 'provenza',
 'thats what i want',
 'shivers',
 'cold heart (pnau remix)',
 'neverita',
 'la corriente',
 'wasted on you',
 'efecto',
 'boyfriend',
 'bam bam',
 "'til you can't",
 'mamiii',
 'sweetest pie',
 'aa',
 'abcdefu',
 'industry baby',
 'numb little bug',
 'aguacero',
 'dos mil 16',
 'easy on me',
 'need to know',
 'trouble with a heartbreak',
 'otro atardecer',
 "this love (taylor's version)",
 'andrea',
 "doin' this",
 'in a minute',
 'el apagon',
 'un verano sin ti',
 'un coco',
 'to the moon!',
 'thousand miles',
 'me fui de vacaciones',
 'ensename a bailar',
 'love you better',
 'hrs and hrs',
 "i'm on one",
 '712pm',
 'nail tech',
 'take my name',
 'never say never',
 "she's all i wanna be",
 'right on',
 "we don't talk about bruno",
 'damn strait',
 "when you're gone",
 'if i was a cowboy',
 'agosto',
 '2step',
 'freaky deaky',
 'something in the orange',
 'what happened to virgil',
 "i'm dat n***a",
 'never wanted to be that girl',
 'get into it (yuh)',
 'hold my hand',
 'slow down summer',
 'whiskey on you',
 "don't think jesus",
 'peru',
 'massaging me',
 "i'd do anything to make you smile",
 'pushin p',
 'flower shops',
 'me or sum',
 'beers on me',
 'flowers',
 'fingers crossed',
 'the motto',
 'frozen',
 'young harleezy',
 '23',
 'poison',
 'honest']

In [7]:
song_name = input("Write your favourite song to check if it's in the TOP100: ").lower()
if len(song_name) < 3:
    print("Write a song with more than 3 characters, don't be lazy!")
elif song_name in top100songs:
    print('Your song is in the TOP100 list! I also recommend you to listen to: ', random.choice(top100songs))
else:
    print('You like weird music dude, your song is not in the TOP100 list!')

Write your favourite song to check if it's in the TOP100: Party
Your song is in the TOP100 list! I also recommend you to listen to:  ojitos lindos

In [13]:
def top100_check():
    from billboard_scraping import billboard_scrape
    top100 = billboard_scrape()
    
    # lower case all song and singer names and convert to list
    top100['song'] = top100['song'].str.rstrip().str.lstrip().str.lower() #lower case all song and singer names
    top100['singer'] = top100['singer'].str.lower()
    top100songs=top100['song'].tolist()
    
    # check song
    song_name = input("Write your favourite song to check if it's in the TOP100: ").lower()
    if len(song_name) < 3:
        print("Write a song with more than 3 characters, don't be lazy!")
    elif song_name in top100songs:
        print('Your song is in the TOP100 list! I also recommend you to listen to: ', random.choice(top100songs))
    else:
        print('You like weird music dude, your song is not in the TOP100 list!')

In [14]:
top100_check()

Write your favourite song to check if it's in the TOP100: Party
Your song is in the TOP100 list! I also recommend you to listen to:  boyfriend