# Lists

In [2]:
classroom=['sian','john', 'roger', 'andy', 'cath', 'fede', 'lucas', 'miguel', 'pau']

In [3]:
# Use index to select members of the list
classroom[4]

'cath'

In [9]:
cap_list=[]
for i in classroom:
    cap_list.append(i.upper())

In [10]:
cap_list

['SIAN', 'JOHN', 'ROGER', 'ANDY', 'CATH', 'FEDE', 'LUCAS', 'MIGUEL', 'PAU']

In [37]:
for i in range(len(classroom)):
    cap_list=classroom[i].upper()

In [38]:
cap_list #not working, it should give us all results, sth is wrong (we should use append or it doesn't work)

'PAU'

In [20]:
new_list=[print(i) for i in classroom] #list comprenhension (one liners) - when iterable target is a list

sian
john
roger
andy
cath
fede
lucas
miguel
pau

In [24]:
classroom

['sian', 'john', 'roger', 'andy', 'cath', 'fede', 'lucas', 'miguel', 'pau']

In [25]:
j_list=[i for i in classroom if i.startswith('j')]

In [26]:
j_list

['john']

In [28]:
upper_list=[i.upper() for i in classroom]

In [29]:
upper_list

['SIAN', 'JOHN', 'ROGER', 'ANDY', 'CATH', 'FEDE', 'LUCAS', 'MIGUEL', 'PAU']

In [30]:
# integer / index to select or iterate
# list[int]

# with these integers we can slice the list
# list [4:8]

In [31]:
upper_list[4:8] # first one is inclusive and second one exclusive

['CATH', 'FEDE', 'LUCAS', 'MIGUEL']

In [32]:
upper_list

['SIAN', 'JOHN', 'ROGER', 'ANDY', 'CATH', 'FEDE', 'LUCAS', 'MIGUEL', 'PAU']

In [33]:
# append a list
# list.append('paupau')
upper_list.append('PAUPAU')

In [34]:
upper_list

['SIAN',
 'JOHN',
 'ROGER',
 'ANDY',
 'CATH',
 'FEDE',
 'LUCAS',
 'MIGUEL',
 'PAU',
 'PAUPAU']

In [35]:
upper_list.remove('PAUPAU')

In [36]:
upper_list

['SIAN', 'JOHN', 'ROGER', 'ANDY', 'CATH', 'FEDE', 'LUCAS', 'MIGUEL', 'PAU']

# Dictionaries

In [39]:
topics={1:'pandas', 2:'sql', 3:'tableau', 4:'agile'}

In [40]:
topics[1] #we use the key to select

'pandas'

In [41]:
topics.keys() # review keys of the dictionary

dict_keys([1, 2, 3, 4])

In [42]:
topics[5]='json' # add a new value key pair

In [43]:
topics

{1: 'pandas', 2: 'sql', 3: 'tableau', 4: 'agile', 5: 'json'}

In [44]:
topics.values()

dict_values(['pandas', 'sql', 'tableau', 'agile', 'json'])

In [45]:
for value in topics.values():
    print(value.upper())

PANDAS
SQL
TABLEAU
AGILE
JSON

In [46]:
for key in topics.keys():
    print(key)

1
2
3
4
5

In [49]:
for key, value in topics.items():
    print(key,'....', value)

1 .... pandas
2 .... sql
3 .... tableau
4 .... agile
5 .... json

# Nested lists

In [50]:
sians_class=[['sian','john'],['roger', 'cath', 'fede', 'lucas', 'miguel', 'andy'],['pau']]

In [51]:
sians_class[0][0][0] # first letter of the first word of the first list (always from the top to the most nested one)

's'

In [52]:
sians_class[0]

['sian', 'john']

In [54]:
my_family=['leri','aled','david', ['gilly',['jack'],'sian'], 'carole',['tracy']]

In [56]:
print('my nephew is ' + my_family[3][1][0]) # we start for the first list and go until the most nested one

my nephew is jack

# Nested dictionaries

In [57]:
shapes={
    1:{'colour':'blue','shape':'circle','sides':'1'}
    ,
    2:{'colour':'orange','shape':'triangle','sides':'3'}
    ,
    3:{'colour':'green','shape':'square','sides':'4'}}

In [ ]:
# print the number of sides of the square
# print the colour of the circle
# print the shape of the second object

In [59]:
shapes[3]['sides']

'4'

In [60]:
shapes[1]['colour']

'blue'

In [61]:
shapes[2]['shape']

'triangle'

In [62]:
shapes[2].keys() # to see the keys of the 2nd nested dictionary

dict_keys(['colour', 'shape', 'sides'])

# JSON objects

In [63]:
import json

In [68]:
json_1 = json.load(open('example_1.json'))

In [69]:
json_1

{'fruit': 'Apple', 'size': 'Large', 'color': 'Red'}

In [70]:
json_1['size']

'Large'

In [71]:
json_2 = json.load(open('example_2.json'))

In [72]:
json_2

{'quiz': {'sport': {'q1': {'question': 'Which one is correct team name in NBA?',
    'options': ['New York Bulls',
     'Los Angeles Kings',
     'Golden State Warriros',
     'Huston Rocket'],
    'answer': 'Huston Rocket'}},
  'maths': {'q1': {'question': '5 + 7 = ?',
    'options': ['10', '11', '12', '13'],
    'answer': '12'},
   'q2': {'question': '12 - 8 = ?',
    'options': ['1', '2', '3', '4'],
    'answer': '4'}}}}

In [77]:
json_4 = json.load(open('sample4.json'))

In [78]:
json_4

{'people': [{'firstName': 'Joe',
   'lastName': 'Jackson',
   'gender': 'male',
   'age': 28,
   'number': '7349282382'},
  {'firstName': 'James',
   'lastName': 'Smith',
   'gender': 'male',
   'age': 32,
   'number': '5678568567'},
  {'firstName': 'Emily',
   'lastName': 'Jones',
   'gender': 'female',
   'age': 24,
   'number': '456754675'}]}

In [88]:
# prettify the json code - makes it more readable
json_formatted2=json.dumps(json_2, indent=2)

In [89]:
print(json_formatted2)

{
  "quiz": {
    "sport": {
      "q1": {
        "question": "Which one is correct team name in NBA?",
        "options": [
          "New York Bulls",
          "Los Angeles Kings",
          "Golden State Warriros",
          "Huston Rocket"
        ],
        "answer": "Huston Rocket"
      }
    },
    "maths": {
      "q1": {
        "question": "5 + 7 = ?",
        "options": [
          "10",
          "11",
          "12",
          "13"
        ],
        "answer": "12"
      },
      "q2": {
        "question": "12 - 8 = ?",
        "options": [
          "1",
          "2",
          "3",
          "4"
        ],
        "answer": "4"
      }
    }
  }
}

In [90]:
json_formatted4=json.dumps(json_4, indent=2)

In [92]:
print(json_formatted4)

{
  "people": [
    {
      "firstName": "Joe",
      "lastName": "Jackson",
      "gender": "male",
      "age": 28,
      "number": "7349282382"
    },
    {
      "firstName": "James",
      "lastName": "Smith",
      "gender": "male",
      "age": 32,
      "number": "5678568567"
    },
    {
      "firstName": "Emily",
      "lastName": "Jones",
      "gender": "female",
      "age": 24,
      "number": "456754675"
    }
  ]
}