# Get tools first

In [1]:
import pymysql
import sqlalchemy
from sqlalchemy import inspect
from sqlalchemy import create_engine
import pandas as pd

# Create connection string:
- user name for mysql
- password for mysql
- schema (bank)
- port (local host)
- dialect pymysql #allows us to understand sql
- driver sqlalchemy #allows us to manage sql data

# Password security

In [2]:
import getpass #allows to anonymize password

In [3]:
password = getpass.getpass()

········

# Set up connection string

# and test password

In [4]:
connection_string = 'mysql+pymysql://root:'+password+'@localhost/bank'
# 'dialect + driver://username:password@port/schema'
engine=create_engine(connection_string)

In [5]:
df=pd.read_sql_query('SELECT * FROM loan', engine)
#this is how we test to see if it works

In [6]:
df

     loan_id  account_id    date  amount  duration  payments status
0       5314        1787  930705   96396        12    8033.0      B
1       5316        1801  930711  165960        36    4610.0      A
2       6863        9188  930728  127080        60    2118.0      A
3       5325        1843  930803  105804        36    2939.0      A
4       7240       11013  930906  274740        60    4579.0      A
..       ...         ...     ...     ...       ...       ...    ...
677     4989         105  981205  352704        48    7348.0      C
678     5221        1284  981205   52512        12    4376.0      C
679     6402        6922  981206  139488        24    5812.0      C
680     5346        1928  981206   55632        24    2318.0      C
681     6748        8645  981208  240900        60    4015.0      C

[682 rows x 7 columns]

# Inspect tables and columns

In [7]:
from sqlalchemy import inspect

In [8]:
insp = inspect(engine) #a function that allows us to connect to SQL

In [9]:
# see table names in any database
print(insp.get_table_names())

['account', 'card', 'client', 'disp', 'district', 'loan', 'order', 'trans']

In [10]:
print(insp.get_columns('loan', 'bank')) #(table,database)
# each dictionary shows one of the columns and its properties

[{'name': 'loan_id', 'type': INTEGER(), 'default': None, 'comment': None, 'nullable': True, 'autoincrement': False}, {'name': 'account_id', 'type': INTEGER(), 'default': None, 'comment': None, 'nullable': True, 'autoincrement': False}, {'name': 'date', 'type': INTEGER(), 'default': None, 'comment': None, 'nullable': True, 'autoincrement': False}, {'name': 'amount', 'type': INTEGER(), 'default': None, 'comment': None, 'nullable': True, 'autoincrement': False}, {'name': 'duration', 'type': INTEGER(), 'default': None, 'comment': None, 'nullable': True, 'autoincrement': False}, {'name': 'payments', 'type': FLOAT(), 'default': None, 'comment': None, 'nullable': True}, {'name': 'status', 'type': TEXT(collation='utf8mb4_unicode_ci'), 'default': None, 'comment': None, 'nullable': True}]

In [11]:
insp.get_columns('loan','bank')[0]

{'name': 'loan_id',
 'type': INTEGER(),
 'default': None,
 'comment': None,
 'nullable': True,
 'autoincrement': False}

In [13]:
insp.get_columns('loan','bank')[0].keys() #properties of a data in first column

dict_keys(['name', 'type', 'default', 'comment', 'nullable', 'autoincrement'])

In [14]:
len(insp.get_columns('loan','bank')) #number of columns (same as number of dictionaries)

7

In [16]:
# for loop
# which collects each column name and stores in list
columns=[]
for i in range(len(insp.get_columns('loan','bank'))):
    colname=insp.get_columns('loan','bank')[i]['name'] # per cada taula i cada diccionari de la llista agafa el valor corresponent a la clau 'name'
    columns.append(colname)

In [17]:
columns

['loan_id', 'account_id', 'date', 'amount', 'duration', 'payments', 'status']