In [1]:
pwd

'/Users/rogerserret/Documents/GitHub/IronRoger/Final_project'

In [2]:
cd data_sources

/Users/rogerserret/Documents/GitHub/IronRoger/Final_project/data_sources

In [3]:
import pandas as pd

In [4]:
df1 = pd.read_csv ('dataset_instagram-post-scraper_2022-06-01_12-20-13-648.csv')

In [5]:
df2 = pd.read_csv ('dataset_instagram-post-scraper_2022-06-01_12-24-33-923 (1).csv')

In [6]:
df3 = pd.read_csv ('dataset_instagram-post-scraper_2022-06-01_12-31-16-806.csv')

In [7]:
df4 = pd.read_csv ('dataset_instagram-post-scraper_2022-06-01_12-36-27-721.csv')

In [8]:
df1_new = df1[['timestamp','caption']].copy()
df1_new['Source_tag']='Instagram'

In [9]:
df2_new = df2[['timestamp','caption']].copy()
df2_new['Source_tag']='Instagram'

In [10]:
df3_new = df3[['timestamp','caption']].copy()
df3_new['Source_tag']='Instagram'

In [11]:
df4_new = df4[['timestamp','caption']].copy()
df4_new['Source_tag']='Instagram'

In [12]:
df=pd.concat([df1_new, df2_new, df3_new, df4_new], axis=0)

In [13]:
df

,timestamp,caption,Source_tag
0,2022-05-31T18:31:42.000Z,Should I make more smoothie recipes?\n\n1/2 ba...,Instagram
1,2022-05-30T17:46:48.000Z,"The weekend isn’t over, so enjoy it with some ...",Instagram
2,2022-05-29T18:05:06.000Z,"Let’s make the drink of the summer! Yes, it’s ...",Instagram
3,2022-05-28T16:26:11.000Z,"Another easy weekend cocktail, Peach Bourbon S...",Instagram
4,2022-05-27T18:50:36.000Z,Have you had an Irish coffee before? Better qu...,Instagram
...,...,...,...
21,2014-10-12T17:41:25.000Z,Blood & Sand\n\nInto a shaker add:\n1 Shot Whi...,Instagram
22,2014-10-06T21:04:21.000Z,Army & Navy\n\nInto a shaker add:\n2 Shots of ...,Instagram
23,2014-10-02T21:47:43.000Z,Into a Cocktail Shaker add:\n2 Shots of Gin\n1...,Instagram
24,2014-10-01T19:33:04.000Z,Into a Cocktail Shaker add:\n2 Shots of Gin\n1...,Instagram
25,2014-10-01T19:20:09.000Z,Join the club. #cocktailrecipes #cocktails #re...,Instagram

In [14]:
df['Date'] = df['timestamp'].str[0:7]

In [15]:
df['Ingredients'] = df['caption']

In [16]:
df = df[['Date','Ingredients', 'Source_tag']].copy()
df

       Date                                        Ingredients Source_tag
0   2022-05  Should I make more smoothie recipes?\n\n1/2 ba...  Instagram
1   2022-05  The weekend isn’t over, so enjoy it with some ...  Instagram
2   2022-05  Let’s make the drink of the summer! Yes, it’s ...  Instagram
3   2022-05  Another easy weekend cocktail, Peach Bourbon S...  Instagram
4   2022-05  Have you had an Irish coffee before? Better qu...  Instagram
..      ...                                                ...        ...
21  2014-10  Blood & Sand\n\nInto a shaker add:\n1 Shot Whi...  Instagram
22  2014-10  Army & Navy\n\nInto a shaker add:\n2 Shots of ...  Instagram
23  2014-10  Into a Cocktail Shaker add:\n2 Shots of Gin\n1...  Instagram
24  2014-10  Into a Cocktail Shaker add:\n2 Shots of Gin\n1...  Instagram
25  2014-10  Join the club. #cocktailrecipes #cocktails #re...  Instagram

[130 rows x 3 columns]

In [17]:
#df['Date']=pd.to_datetime(df['Date'], errors='coerce')
df['Date'] = df['Date'].astype('datetime64[ns]')

In [18]:
from datetime import datetime as dt

In [19]:
df['Date']=df['Date'].dt.strftime("%Y-%m")

In [20]:
df5 = pd.read_csv ('df_thedrinkblog.csv')
df5['Source_tag']='Web'

In [21]:
df6 = pd.read_csv ('liquorcom.csv')
df6['Source_tag']='Web'

In [22]:
df7 = pd.read_csv ('keetscocktails.csv')
df7['Source_tag']='Web'

In [23]:
df=pd.concat([df, df5, df6, df7], axis=0)

In [24]:
df.drop(df.filter(regex="Unname"),axis=1, inplace=True)

In [25]:
df

        Date                                        Ingredients Source_tag
0    2022-05  Should I make more smoothie recipes?\n\n1/2 ba...  Instagram
1    2022-05  The weekend isn’t over, so enjoy it with some ...  Instagram
2    2022-05  Let’s make the drink of the summer! Yes, it’s ...  Instagram
3    2022-05  Another easy weekend cocktail, Peach Bourbon S...  Instagram
4    2022-05  Have you had an Irish coffee before? Better qu...  Instagram
..       ...                                                ...        ...
316  2021-10  Despite its name,SATAN’S WHISKERSis anything b...        Web
317  2020-10  TheSCOFFLAWcocktail was created in 1924 Paris ...        Web
318  2022-03  TheSTILETTO MANHATTANadds a small portion of A...        Web
319  2022-03  The Mexican version of a martini is theTEQUINI...        Web
320  2022-05  The peak season for ruby-red grapefruit (Novem...        Web

[612 rows x 3 columns]

In [26]:
df_kaggle = pd.read_csv ('all_drinks.csv')

In [27]:
df_kaggle.drop(df_kaggle.filter(regex="Unname"),axis=1, inplace=True)

In [28]:
df_kaggle.drop(['strDrink', 'idDrink', 'strAlcoholic', 'strCategory', 'strDrinkThumb', 'strGlass',
        'strGlass', 'strIBA', 'strIngredient10', 'strIngredient12', 'strIngredient13', 'strIngredient14', 
         'strIngredient15', 'strInstructions', 'strMeasure1', 'strMeasure10', 'strMeasure11', 'strMeasure12',
         'strMeasure13','strMeasure14','strMeasure15','strMeasure2','strMeasure3','strMeasure4','strMeasure5','strMeasure6',
        'strMeasure7','strMeasure8','strMeasure9','strVideo'],axis = 1, inplace = True)

In [29]:
df_kaggle.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 546 entries, 0 to 545
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   dateModified     545 non-null    object
 1   strIngredient1   546 non-null    object
 2   strIngredient11  3 non-null      object
 3   strIngredient2   546 non-null    object
 4   strIngredient3   461 non-null    object
 5   strIngredient4   294 non-null    object
 6   strIngredient5   166 non-null    object
 7   strIngredient6   78 non-null     object
 8   strIngredient7   25 non-null     object
 9   strIngredient8   15 non-null     object
 10  strIngredient9   6 non-null      object
dtypes: object(11)
memory usage: 47.0+ KB

In [30]:
df_kaggle.fillna(' ', inplace=True)

In [31]:
df_kaggle['Ingredients']=df_kaggle['strIngredient1'] + ', ' + df_kaggle['strIngredient2']+ ', ' + df_kaggle['strIngredient11'] + ', ' + df_kaggle['strIngredient3'] + ', ' + df_kaggle['strIngredient4'] + ', ' + df_kaggle['strIngredient5'] + ', ' + df_kaggle['strIngredient6'] + ', ' + df_kaggle['strIngredient7'] + ', ' + df_kaggle['strIngredient9'] + ', ' + df_kaggle['strIngredient9']

In [32]:
df_kaggle.drop(['strIngredient1', 'strIngredient11', 'strIngredient2', 'strIngredient3', 'strIngredient4',
        'strIngredient5', 'strIngredient6', 'strIngredient7', 'strIngredient8', 'strIngredient9'],axis = 1, inplace = True)

In [33]:
df_kaggle

            dateModified                                        Ingredients
0    2016-07-18 22:49:04      Creme de Cacao, Vodka,  ,  ,  ,  ,  ,  ,  ,
1    2016-07-18 22:27:04  Absolut Kurant, Grand Marnier,  , Chambord ras...
2    2016-02-03 14:51:57             Lager, Tequila,  ,  ,  ,  ,  ,  ,  ,
3    2016-07-18 22:28:43  Malibu rum, Light rum,  , 151 proof rum, Dark ...
4    2016-10-05 12:36:28  Dark rum, Light rum,  , Vodka, Orange juice,  ...
..                   ...                                                ...
541  2017-01-28 16:18:33       Amaretto, Rum,  , Kool-Aid,  ,  ,  ,  ,  ,
542  2017-01-28 16:25:52  Cointreau, Lemon juice,  , Ice, Lemon,  ,  ,  ...
543  2017-01-28 16:28:50  Beer, Root beer,  , Lemonade, Coca-Cola, 7-Up,...
544  2017-01-28 16:32:35                Vodka, Ouzo,  ,  ,  ,  ,  ,  ,  ,
545  2017-01-28 16:34:43  Sambuca, Bailey's irish cream,  , White Creme ...

[546 rows x 2 columns]

In [34]:
df_kaggle['dateModified'] = df_kaggle['dateModified'].str[:-12] #cleaning the date

In [35]:
df_kaggle['dateModified'] = df_kaggle['dateModified'].astype('datetime64[ns]')

In [36]:
df_kaggle['dateModified'].dtypes #means type object

dtype('<M8[ns]')

In [37]:
from datetime import datetime as dt

In [38]:
df_kaggle['dateModified']=df_kaggle['dateModified'].dt.strftime("%Y-%m")

In [39]:
df_kaggle.rename(columns={'dateModified': 'Date'},inplace=True, errors='raise')

In [40]:
df_kaggle['Source_tag']='Kaggle'

In [41]:
df_kaggle

        Date                                        Ingredients Source_tag
0    2016-07      Creme de Cacao, Vodka,  ,  ,  ,  ,  ,  ,  ,       Kaggle
1    2016-07  Absolut Kurant, Grand Marnier,  , Chambord ras...     Kaggle
2    2016-02             Lager, Tequila,  ,  ,  ,  ,  ,  ,  ,       Kaggle
3    2016-07  Malibu rum, Light rum,  , 151 proof rum, Dark ...     Kaggle
4    2016-10  Dark rum, Light rum,  , Vodka, Orange juice,  ...     Kaggle
..       ...                                                ...        ...
541  2017-01       Amaretto, Rum,  , Kool-Aid,  ,  ,  ,  ,  ,       Kaggle
542  2017-01  Cointreau, Lemon juice,  , Ice, Lemon,  ,  ,  ...     Kaggle
543  2017-01  Beer, Root beer,  , Lemonade, Coca-Cola, 7-Up,...     Kaggle
544  2017-01                Vodka, Ouzo,  ,  ,  ,  ,  ,  ,  ,       Kaggle
545  2017-01  Sambuca, Bailey's irish cream,  , White Creme ...     Kaggle

[546 rows x 3 columns]

In [42]:
df_comp=pd.concat([df, df_kaggle], axis=0)

In [43]:
# df_8 = pd.read_csv ('cocktail_recipes.csv')

In [44]:
df_9 = pd.read_csv ('thestraghtup.csv')
df_9['Source_tag']='Web'

In [45]:
# df_8

In [46]:
df_9

        Date                                        Ingredients Source_tag
0    2013-06  1oz Gin,1oz Gran Classico,1oz Cynar,1 dropper ...        Web
1    2013-03  1.5 Gin,.75 Cynar,.33 Campari,.5  Maurin Quina...        Web
2    2014-03  .5oz Absinthe,.5oz Genepy,.5oz Green Chartreus...        Web
3    2013-09  1.5oz Gin,.75oz Lillet Blanc,.75oz Orange Juic...        Web
4    2013-02  .5oz Aperol,1.5oz Gin (Beefeater),.25oz Campar...        Web
..       ...                                                ...        ...
118  2013-04  1 oz Gin,.75oz Domaine de Canton,.25oz Aperol,...        Web
119  2013-04  1oz Rye,1oz Allspice Dram,1oz Creme de Violett...        Web
120  2013-07  2oz Bourbon,.75oz Lemon Juice,.75oz Simple Syr...        Web
121  2014-11  1.5oz Apple Brandy,.75oz Yellow Chartreuse,.75...        Web
122  2013-04  2oz Reposado Tequila,1oz St. Germain,.75oz Yel...        Web

[123 rows x 3 columns]

In [47]:
df_comp=pd.concat([df_comp, df_9], axis=0)

In [48]:
df_10 = pd.read_csv ('imbibe18.csv')
df_10['Source_tag']='Web'

In [49]:
df_11 = pd.read_csv ('imbibe19.csv')
df_11['Source_tag']='Web'

In [50]:
df_12 = pd.read_csv ('epicurious1.csv')
df_12['Source_tag']='Web'

In [51]:
df_13 = pd.read_csv ('epicurious2.csv')
df_13['Source_tag']='Web'

In [52]:
df_14 = pd.read_csv ('epicurious3.csv')
df_14['Source_tag']='Web'

In [53]:
df_15 = pd.read_csv ('pinterest_cocktails.csv')
df_15['Source_tag']='Pinterest'

In [54]:
df_comp=pd.concat([df_comp, df_10, df_11, df_12, df_13, df_14, df_15], axis=0)

In [55]:
df_comp

        Date                                        Ingredients Source_tag
0    2022-05  Should I make more smoothie recipes?\n\n1/2 ba...  Instagram
1    2022-05  The weekend isn’t over, so enjoy it with some ...  Instagram
2    2022-05  Let’s make the drink of the summer! Yes, it’s ...  Instagram
3    2022-05  Another easy weekend cocktail, Peach Bourbon S...  Instagram
4    2022-05  Have you had an Irish coffee before? Better qu...  Instagram
..       ...                                                ...        ...
384  2019-10  a sweet, savory and spicy margarita with pinea...  Pinterest
385  2021-02  i’m taking my cocktail (and wordplay) skills t...  Pinterest
386  2021-10  what’s better than sitting on your balcony, in...  Pinterest
387  2021-07  this coconut lime frozen margarita is just wha...  Pinterest
388  2022-05  made with fresh lime + grapefruit juice, these...  Pinterest

[1936 rows x 3 columns]

In [58]:
df_comp.to_csv('df_total.csv', index = False)