In [1]:
import pandas as pd

In [39]:
df=pd.read_csv('thestraghtup.csv')

In [40]:
df.head(10)

,Date,Ingredients
0,"May 11, 2013,May 27, 2013,May 28, 2013,May 29,...","1oz Gin,1oz Gran Classico,1oz Cynar,1 dropper ..."
1,"March 22, 2013,March 23, 2013,March 23, 2013","1.5 Gin,.75 Cynar,.33 Campari,.5 Maurin Quina..."
2,"December 17, 2013,December 17, 2013,December 1...",".5oz Absinthe,.5oz Genepy,.5oz Green Chartreus..."
3,"December 26, 2012,September 11, 2013,September...","1.5oz Gin,.75oz Lillet Blanc,.75oz Orange Juic..."
4,"February 21, 2013,February 22, 2013,February 2...",".5oz Aperol,1.5oz Gin (Beefeater),.25oz Campar..."
5,"October 12, 2013","1.5oz Fino Sherry,1.5oz Sweet Vermouth,2 dashe..."
6,"March 3, 2013,March 3, 2013","2oz VSOP Cognac,.5oz Cointreau,.25oz Lemon Jui..."
7,"December 24, 2012","1.5oz Gin,.75oz Yellow Chartreuse,1 dash Orang..."
8,"February 14, 2013,February 14, 2013,August 6, ...","2oz Rittenhouse Rye,Barspoon Agave Nectar,3 da..."
9,"December 20, 2012,January 21, 2013,January 22,...","Equal parts (scale to desired size):,Averna Am..."

In [41]:
string=df.Date.iloc[0]
string

'May 11, 2013,May 27, 2013,May 28, 2013,May 29, 2013,May 31, 2013,June 26, 2013'

In [42]:
text=string.split(',')[-2:]
text

['June 26', ' 2013']

In [43]:
final =(','.join(text))
final

'June 26, 2013'

In [44]:
def get_final_date(string):
    text=string.split(',')[-2:]
    final=(','.join(text))
    return final

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123 entries, 0 to 122
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         122 non-null    object
 1   Ingredients  122 non-null    object
dtypes: object(2)
memory usage: 2.0+ KB

In [48]:
df=df.dropna()

In [50]:
df['date_2'] = df['Date'].apply(get_final_date)

In [51]:
df.head()

,Date,Ingredients,date_2
0,"May 11, 2013,May 27, 2013,May 28, 2013,May 29,...","1oz Gin,1oz Gran Classico,1oz Cynar,1 dropper ...","June 26, 2013"
1,"March 22, 2013,March 23, 2013,March 23, 2013","1.5 Gin,.75 Cynar,.33 Campari,.5 Maurin Quina...","March 23, 2013"
2,"December 17, 2013,December 17, 2013,December 1...",".5oz Absinthe,.5oz Genepy,.5oz Green Chartreus...","March 16, 2014"
3,"December 26, 2012,September 11, 2013,September...","1.5oz Gin,.75oz Lillet Blanc,.75oz Orange Juic...","September 12, 2013"
4,"February 21, 2013,February 22, 2013,February 2...",".5oz Aperol,1.5oz Gin (Beefeater),.25oz Campar...","February 22, 2013"