In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
health1 = pd.read_csv('file1.csv')

In [4]:
health1

,CONTROLN,STATE,GENDER,HV1,IC1,IC4,HVP1,IC5,POBC1,POBC2,IC2,IC3,AVGGIFT,TCODE,DOB,DOMAIN,TARGET_D
0,44060,FL,M,AAA896,392,520.0,7,21975,6,16,430.0,466,28.000000,1,1901,C2,100.0
1,96093,IL,M,537.00,365,473.0,0,19387,1,89,415.0,410,5.666667,0,0,T2,7.0
2,43333,FL,F,725.00,301,436.0,3,18837,11,17,340.0,361,4.111111,0,2501,C2,5.0
3,21885,NC,M,AAA1095,401,413.0,7,14014,1,74,407.0,399,27.277778,0,2208,T2,38.0
4,190108,FL,F,995.00,252,348.0,0,17991,5,6,280.0,316,6.000000,28,0,C2,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1002,114721,OK,NaN,1040,472,656.0,0,26962,2,56,609.0,579,11.666667,0,0,C2,15.0
1003,149152,CA,M,4507,842,962.0,95,54642,17,50,1004.0,893,20.000000,1,4401,S1,20.0
1004,959,IA,F,586,349,465.0,1,15304,1,77,413.0,404,7.300000,0,4404,C2,10.0
1005,179563,WA,male,842,420,494.0,2,12894,41,24,419.0,476,16.400000,1,5001,S2,23.0
1006,41243,FL,F,556,246,330.0,0,10272,2,56,277.0,292,9.818182,2,2201,S2,12.0

In [5]:
health1.describe()

,CONTROLN,IC1,IC4,HVP1,POBC1,POBC2,IC2,IC3,AVGGIFT,TCODE,DOB,TARGET_D
count,1007.000000,1007.000000,1006.000000,1007.000000,1007.000000,1007.000000,1006.000000,1007.000000,1007.000000,1007.000000,1007.000000,1007.000000
mean,98913.029791,352.015889,445.059642,16.261172,6.847071,55.630586,401.658052,400.022840,11.863404,37.747766,2555.362463,16.026604
std,58306.879885,173.937638,178.115476,29.464477,9.333689,21.593999,182.024618,168.901139,7.829965,213.010617,2069.953954,14.586646
min,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.361111,0.000000,0.000000,1.000000
25%,44930.500000,238.500000,325.000000,0.000000,1.000000,41.000000,283.000000,286.000000,7.285714,0.000000,0.000000,10.000000
50%,101113.000000,319.000000,406.000000,1.000000,4.000000,57.000000,364.500000,361.000000,10.000000,1.000000,2501.000000,13.920000
75%,151559.000000,421.500000,527.000000,14.000000,9.000000,74.000000,474.750000,478.000000,14.500000,2.000000,4308.500000,20.000000
max,191779.000000,1500.000000,1263.000000,99.000000,73.000000,96.000000,1500.000000,1185.000000,89.444444,4002.000000,8305.000000,200.000000

In [6]:
health1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1007 entries, 0 to 1006
Data columns (total 17 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   CONTROLN  1007 non-null   int64
 1   STATE     1007 non-null   object
 2   GENDER    967 non-null    object
 3   HV1       1005 non-null   object
 4   IC1       1007 non-null   int64
 5   IC4       1006 non-null   float64
 6   HVP1      1007 non-null   int64
 7   IC5       1007 non-null   object
 8   POBC1     1007 non-null   int64
 9   POBC2     1007 non-null   int64
 10  IC2       1006 non-null   float64
 11  IC3       1007 non-null   int64
 12  AVGGIFT   1007 non-null   float64
 13  TCODE     1007 non-null   int64
 14  DOB       1007 non-null   int64
 15  DOMAIN    1007 non-null   object
 16  TARGET_D  1007 non-null   float64
dtypes: float64(4), int64(8), object(5)
memory usage: 133.9+ KB

In [7]:
health1.head(10)

,CONTROLN,STATE,GENDER,HV1,IC1,IC4,HVP1,IC5,POBC1,POBC2,IC2,IC3,AVGGIFT,TCODE,DOB,DOMAIN,TARGET_D
0,44060,FL,M,AAA896,392,520.0,7,21975,6,16,430.0,466,28.000000,1,1901,C2,100.0
1,96093,IL,M,537.00,365,473.0,0,19387,1,89,415.0,410,5.666667,0,0,T2,7.0
2,43333,FL,F,725.00,301,436.0,3,18837,11,17,340.0,361,4.111111,0,2501,C2,5.0
3,21885,NC,M,AAA1095,401,413.0,7,14014,1,74,407.0,399,27.277778,0,2208,T2,38.0
4,190108,FL,F,995.00,252,348.0,0,17991,5,6,280.0,316,6.000000,28,0,C2,5.0
5,100640,IL,M,764.00,457,501.0,1,16022,2,75,477.0,480,25.571429,1,6104,S2,30.0
6,18581,NC,female,775.00,318,419.0,5,13491,0,73,364.0,380,4.625000,0,4407,R2,12.0
7,119038,TX,M,890.00,519,560.0,0,17872,2,46,525.0,551,6.175000,1002,0,C1,7.0
8,173223,CA,F,NaN,184,250.0,0,8708,2,63,206.0,235,8.818182,0,1801,T2,10.0
9,157988,CA,F,AAA2294,593,617.0,61,17838,7,62,NaN,619,6.666667,28,0,S1,10.0

In [8]:
health1.tail(10)

,CONTROLN,STATE,GENDER,HV1,IC1,IC4,HVP1,IC5,POBC1,POBC2,IC2,IC3,AVGGIFT,TCODE,DOB,DOMAIN,TARGET_D
997,57151,KY,F,875,311,326.0,0,7746,3,29,326.0,326,15.900000,0,3601,R1,26.0
998,71425,MI,M,713,300,364.0,0,16833,2,88,313.0,323,6.000000,1,4401,T2,7.0
999,127823,TX,F,258,64,74.0,0,4236,0,94,60.0,93,5.450000,2,2301,C3,6.0
1000,150739,CA,U,1951,556,625.0,44,17208,10,66,578.0,619,9.681818,2,5410,S1,12.0
1001,41384,FL,F,556,318,352.0,0,11779,16,22,358.0,320,9.428571,28,5107,S3,12.0
1002,114721,OK,NaN,1040,472,656.0,0,26962,2,56,609.0,579,11.666667,0,0,C2,15.0
1003,149152,CA,M,4507,842,962.0,95,54642,17,50,1004.0,893,20.000000,1,4401,S1,20.0
1004,959,IA,F,586,349,465.0,1,15304,1,77,413.0,404,7.300000,0,4404,C2,10.0
1005,179563,WA,male,842,420,494.0,2,12894,41,24,419.0,476,16.400000,1,5001,S2,23.0
1006,41243,FL,F,556,246,330.0,0,10272,2,56,277.0,292,9.818182,2,2201,S2,12.0

In [9]:
health1['GENDER'].unique()

array(['M', 'F', 'female', 'Male', nan, 'U', 'J', 'male', 'Female',
       'feamale'], dtype=object)

In [10]:
health1.columns

Index(['CONTROLN', 'STATE', 'GENDER', 'HV1', 'IC1', 'IC4', 'HVP1', 'IC5',
       'POBC1', 'POBC2', 'IC2', 'IC3', 'AVGGIFT', 'TCODE', 'DOB', 'DOMAIN',
       'TARGET_D'],
      dtype='object')

In [11]:
columns = []
for i in range(len(health1.columns)):
    columns.append(health1.columns[i].lower())

In [12]:
columns

['controln',
 'state',
 'gender',
 'hv1',
 'ic1',
 'ic4',
 'hvp1',
 'ic5',
 'pobc1',
 'pobc2',
 'ic2',
 'ic3',
 'avggift',
 'tcode',
 'dob',
 'domain',
 'target_d']

In [13]:
health1.columns = columns

In [14]:
health1.columns

Index(['controln', 'state', 'gender', 'hv1', 'ic1', 'ic4', 'hvp1', 'ic5',
       'pobc1', 'pobc2', 'ic2', 'ic3', 'avggift', 'tcode', 'dob', 'domain',
       'target_d'],
      dtype='object')

In [15]:
health1

,controln,state,gender,hv1,ic1,ic4,hvp1,ic5,pobc1,pobc2,ic2,ic3,avggift,tcode,dob,domain,target_d
0,44060,FL,M,AAA896,392,520.0,7,21975,6,16,430.0,466,28.000000,1,1901,C2,100.0
1,96093,IL,M,537.00,365,473.0,0,19387,1,89,415.0,410,5.666667,0,0,T2,7.0
2,43333,FL,F,725.00,301,436.0,3,18837,11,17,340.0,361,4.111111,0,2501,C2,5.0
3,21885,NC,M,AAA1095,401,413.0,7,14014,1,74,407.0,399,27.277778,0,2208,T2,38.0
4,190108,FL,F,995.00,252,348.0,0,17991,5,6,280.0,316,6.000000,28,0,C2,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1002,114721,OK,NaN,1040,472,656.0,0,26962,2,56,609.0,579,11.666667,0,0,C2,15.0
1003,149152,CA,M,4507,842,962.0,95,54642,17,50,1004.0,893,20.000000,1,4401,S1,20.0
1004,959,IA,F,586,349,465.0,1,15304,1,77,413.0,404,7.300000,0,4404,C2,10.0
1005,179563,WA,male,842,420,494.0,2,12894,41,24,419.0,476,16.400000,1,5001,S2,23.0
1006,41243,FL,F,556,246,330.0,0,10272,2,56,277.0,292,9.818182,2,2201,S2,12.0

In [16]:
health1 = health1.drop(['controln', 'pobc2'], axis=1)

In [17]:
health1

,state,gender,hv1,ic1,ic4,hvp1,ic5,pobc1,ic2,ic3,avggift,tcode,dob,domain,target_d
0,FL,M,AAA896,392,520.0,7,21975,6,430.0,466,28.000000,1,1901,C2,100.0
1,IL,M,537.00,365,473.0,0,19387,1,415.0,410,5.666667,0,0,T2,7.0
2,FL,F,725.00,301,436.0,3,18837,11,340.0,361,4.111111,0,2501,C2,5.0
3,NC,M,AAA1095,401,413.0,7,14014,1,407.0,399,27.277778,0,2208,T2,38.0
4,FL,F,995.00,252,348.0,0,17991,5,280.0,316,6.000000,28,0,C2,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1002,OK,NaN,1040,472,656.0,0,26962,2,609.0,579,11.666667,0,0,C2,15.0
1003,CA,M,4507,842,962.0,95,54642,17,1004.0,893,20.000000,1,4401,S1,20.0
1004,IA,F,586,349,465.0,1,15304,1,413.0,404,7.300000,0,4404,C2,10.0
1005,WA,male,842,420,494.0,2,12894,41,419.0,476,16.400000,1,5001,S2,23.0
1006,FL,F,556,246,330.0,0,10272,2,277.0,292,9.818182,2,2201,S2,12.0

In [18]:
health1.dtypes

state        object
gender       object
hv1          object
ic1           int64
ic4         float64
hvp1          int64
ic5          object
pobc1         int64
ic2         float64
ic3           int64
avggift     float64
tcode         int64
dob           int64
domain       object
target_d    float64
dtype: object

In [19]:
health1['hv1'].unique()

array(['AAA896', '537.00', '725.00', 'AAA1095', '995.00', '764.00',
       '775.00', '890.00', nan, 'AAA2294', '1569', '3515', '1026', '0',
       '376', '890', '1513', '948', '258', '1951', '556', '1040', '603',
       '526', '717', '1011', '1063', '291', '1538', '592', '871', '403',
       '715', '2346', '559', '596', '706', '878', '1275', '2362', '718',
       '2531', '2089', '765', '832', '1458', '1590', '613', '477', '424',
       '383', '688', '3500', '2143', '625', '1560', '716', '1247', '611',
       '1431', '1089', '435', '1409', '647', '415', '492', '1043', '3668',
       '3491', '192', '824', '428', '417', '399', '2377', '2016', '933',
       '619', '3303', '960', '1236', '473', '1055', '1509', '1953', '927',
       '2098', '5209', '476', '1515', '2158', '1110', '581', '563', '740',
       '516', '575', '2357', '645', '825', '531', '195', '423', '2725',
       '359', '1373', '1439', '889', '1993', '618', '3259', '151', '892',
       '612', '919', '697', '5059', '5667', '2750', '513', '1848', '1417',
       '347', '994', '3542', '797', '791', '957', '357', '896', '402',
       '3083', '460', '294', '1199', '1125', '974', '316', '642', '1263',
       '1809', '5294', '1161', '295', '3020', '431', '544', '323', '1104',
       '2135', '671', '510', '650', '487', '2925', '884', '753', '594',
       '627', '806', '3149', '5266', '1401', '593', '915', '456', '610',
       '1229', '2333', '707', '377', '1624', '348', '1878', '777', '1463',
       '375', '561', '502', '4206', '800', '1472', '609', '2430', '2559',
       '696', '762', '3556', '441', '673', '1173', '934', '1332', '451',
       '649', '590', '500', '368', '427', '274', '584', '553', '903',
       '2545', '1778', '1187', '1448', '712', '1432', '2598', '2855',
       '535', '703', '662', '2973', '2289', '1274', '840', '1024', '558',
       '1667', '843', '583', '1801', '863', '335', '1362', '700', '562',
       '1287', '5939', '648', '1862', '1843', '5190', '3912', '1537',
       '719', '1074', '298', '1434', '206', '991', '900', '1163', '3260',
       '430', '167', '1380', '3357', '1518', '1390', '1224', '182', '786',
       '308', '885', '2375', '657', '3010', '548', '819', '710', '3673',
       '365', '682', '901', '1676', '445', '588', '413', '522', '667',
       '303', '633', '391', '1179', '453', '3365', '1315', '668', '3200',
       '289', '1796', '978', '367', '937', '675', '232', '545', '458',
       '814', '452', '826', '860', '185', '576', '2431', '388', '1680',
       '1128', '916', '340', '711', '412', '893', '644', '440', '363',
       '1745', '672', '1419', '3781', '1938', '1495', '5980', '1412',
       '1869', '1015', '736', '803', '1818', '640', '698', '1449', '1557',
       '518', '1180', '511', '2869', '1514', '444', '654', '985', '280',
       '714', '1854', '2780', '1528', '605', '1165', '439', '681', '1865',
       '225', '2236', '1438', '3071', '1442', '660', '5813', '2250',
       '1115', '761', '2930', '3370', '966', '2024', '1286', '758',
       '2019', '687', '582', '690', '988', '1500', '5742', '1650', '406',
       '768', '485', '405', '459', '811', '509', '1030', '881', '2794',
       '3233', '931', '529', '1897', '641', '532', '876', '1175', '3921',
       '734', '468', '314', '550', '1979', '679', '475', '872', '1075',
       '580', '442', '325', '1276', '438', '386', '2433', '1464', '1052',
       '998', '821', '2300', '1852', '663', '2056', '2282', '2883', '637',
       '273', '1709', '2307', '691', '2479', '858', '351', '1672', '1069',
       '463', '470', '1248', '2800', '1654', '653', '1914', '5619', '426',
       '670', '400', '2206', '2238', '2811', '1775', '2549', '2356',
       '913', '284', '678', '1685', '1461', '538', '855', '578', '699',
       '5372', '839', '281', '2803', '601', '828', '2408', '951', '722',
       '1811', '534', '866', '471', '987', '1102', '5863', '198', '658',
       '512', '886', '1429', '543', '1896', '1171', '4143', '902', '356',
       '2469', '1107', '746', '967', '1250', '139', '1861', '3247',
       '1146', '854', '496', '726', '1028', '3063', '684', '3511', '1185',
       '747', '935', '616', '947', '572', '5014', '3663', '269', '226',
       '278', '604', '1219', '382', '1699', '394', '490', '949', '849',
       '1372', '358', '355', '713', '1208', '450', '1460', '478', '846',
       '694', '4183', '744', '875', '354', '1675', '421', '782', '574',
       '742', '1067', '4259', '566', '525', '1582', '1006', '345', '362',
       '2457', '2789', '385', '1136', '623', '5470', '4392', '1468',
       '764', '1749', '816', '905', '1027', '2833', '1088', '1304',
       '1859', '595', '3017', '396', '332', '1875', '1094', '1565', '246',
       '3325', '2438', '728', '3231', '3937', '1008', '848', '1158',
       '1139', '3741', '533', '1486', '3760', '1991', '404', '2094',
       '818', '3206', '5045', '4286', '621', '1493', '3373', '973', '505',
       '524', '1851', '923', '3952', '3570', '2442', '692', '1062',
       '1375', '2400', '1072', '326', '1277', '3197', '685', '5332',
       '695', '3514', '883', '5791', '877', '1403', '838', '1578', '944',
       '2817', '498', '395', '651', '366', '2280', '387', '3531', '738',
       '469', '318', '5132', '1181', '756', '464', '1245', '360', '432',
       '807', '307', '1270', '4167', '472', '862', '2156', '906', '481',
       '560', '567', '799', '433', '568', '1035', '1671', '262', '491',
       '301', '5879', '617', '602', '1191', '547', '659', '466', '389',
       '448', '542', '300', '499', '3608', '705', '815', '780', '787',
       '454', '3839', '813', '704', '5743', '483', '1903', '497', '2368',
       '374', '508', '676', '805', '732', '737', '600', '686', '5829',
       '5954', '674', '338', '835', '925', '1290', '938', '2741', '546',
       '894', '969', '493', '1034', '834', '429', '565', '1083', '1642',
       '1483', '940', '2012', '517', '1773', '946', '1149', '729', '3092',
       '2312', '552', '629', '1395', '1355', '2679', '638', '1246', '631',
       '5708', '955', '810', '1239', '2241', '2128', '1344', '361', '760',
       '1711', '904', '833', '607', '4112', '342', '313', '480', '809',
       '1609', '614', '1184', '1348', '683', '1167', '836', '1349',
       '4507', '586', '842', '1467', '514', '870', '2680', '624', '322',
       '868', '364'], dtype=object)

In [20]:
health1_names = {'hv1': 'medianhv', 'ic5':'incomepc'}

In [21]:
health1.rename(columns = health1_names, inplace = True)

In [22]:
health1

,state,gender,medianhv,ic1,ic4,hvp1,incomepc,pobc1,ic2,ic3,avggift,tcode,dob,domain,target_d
0,FL,M,AAA896,392,520.0,7,21975,6,430.0,466,28.000000,1,1901,C2,100.0
1,IL,M,537.00,365,473.0,0,19387,1,415.0,410,5.666667,0,0,T2,7.0
2,FL,F,725.00,301,436.0,3,18837,11,340.0,361,4.111111,0,2501,C2,5.0
3,NC,M,AAA1095,401,413.0,7,14014,1,407.0,399,27.277778,0,2208,T2,38.0
4,FL,F,995.00,252,348.0,0,17991,5,280.0,316,6.000000,28,0,C2,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1002,OK,NaN,1040,472,656.0,0,26962,2,609.0,579,11.666667,0,0,C2,15.0
1003,CA,M,4507,842,962.0,95,54642,17,1004.0,893,20.000000,1,4401,S1,20.0
1004,IA,F,586,349,465.0,1,15304,1,413.0,404,7.300000,0,4404,C2,10.0
1005,WA,male,842,420,494.0,2,12894,41,419.0,476,16.400000,1,5001,S2,23.0
1006,FL,F,556,246,330.0,0,10272,2,277.0,292,9.818182,2,2201,S2,12.0

In [23]:
health1['incomepc'].astype('float', errors = 'ignore')

#this process is not working because there may be some string within the values

0       21975
1       19387
2       18837
3       14014
4       17991
        ...
1002    26962
1003    54642
1004    15304
1005    12894
1006    10272
Name: incomepc, Length: 1007, dtype: object

In [24]:
health1.dtypes

state        object
gender       object
medianhv     object
ic1           int64
ic4         float64
hvp1          int64
incomepc     object
pobc1         int64
ic2         float64
ic3           int64
avggift     float64
tcode         int64
dob           int64
domain       object
target_d    float64
dtype: object

In [25]:
health1['medianhv'] = pd.to_numeric(health1['medianhv'], errors = 'coerce')

In [26]:
health1['incomepc'] = pd.to_numeric(health1['medianhv'], errors = 'coerce')

In [27]:
health1.dtypes

state        object
gender       object
medianhv    float64
ic1           int64
ic4         float64
hvp1          int64
incomepc    float64
pobc1         int64
ic2         float64
ic3           int64
avggift     float64
tcode         int64
dob           int64
domain       object
target_d    float64
dtype: object

In [28]:
health1['gender'] = health1['gender'].fillna('unknown')

In [29]:
health1.info()

# now we have no nulls because we have transformed them into unknown

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1007 entries, 0 to 1006
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   state     1007 non-null   object
 1   gender    1007 non-null   object
 2   medianhv  1002 non-null   float64
 3   ic1       1007 non-null   int64
 4   ic4       1006 non-null   float64
 5   hvp1      1007 non-null   int64
 6   incomepc  1002 non-null   float64
 7   pobc1     1007 non-null   int64
 8   ic2       1006 non-null   float64
 9   ic3       1007 non-null   int64
 10  avggift   1007 non-null   float64
 11  tcode     1007 non-null   int64
 12  dob       1007 non-null   int64
 13  domain    1007 non-null   object
 14  target_d  1007 non-null   float64
dtypes: float64(6), int64(6), object(3)
memory usage: 118.1+ KB

In [30]:
health1[health1['incomepc'].isna() == True]

,state,gender,medianhv,ic1,ic4,hvp1,incomepc,pobc1,ic2,ic3,avggift,tcode,dob,domain,target_d
0,FL,M,NaN,392,520.0,7,NaN,6,430.0,466,28.000000,1,1901,C2,100.0
3,NC,M,NaN,401,413.0,7,NaN,1,407.0,399,27.277778,0,2208,T2,38.0
8,CA,F,NaN,184,250.0,0,NaN,2,206.0,235,8.818182,0,1801,T2,10.0
9,CA,F,NaN,593,617.0,61,NaN,7,NaN,619,6.666667,28,0,S1,10.0
35,TX,M,NaN,368,531.0,5,NaN,2,457.0,450,12.250000,1,2201,U1,20.0

In [31]:
median_medianhv = health1['medianhv'].median()

In [32]:
health1['medianhv'] = health1['medianhv'].fillna(median_medianhv)

In [33]:
median_incomepc = health1['incomepc'].median()

In [34]:
health1['incomepc'] = health1['incomepc'].fillna(median_incomepc)

In [35]:
median_ic4 = health1['ic4'].median()

In [36]:
health1['ic4'] = health1['ic4'].fillna(median_ic4)

In [37]:
health1[health1['incomepc'].isna() == True]

# Now we don't find nulls because we have changed them for the median

Empty DataFrame
Columns: [state, gender, medianhv, ic1, ic4, hvp1, incomepc, pobc1, ic2, ic3, avggift, tcode, dob, domain, target_d]
Index: []

In [38]:
health1.query('gender == "F" & state == "CO" & incomepc >= 900')

,state,gender,medianhv,ic1,ic4,hvp1,incomepc,pobc1,ic2,ic3,avggift,tcode,dob,domain,target_d
78,CO,F,933.0,289,379.0,0,933.0,6,332.0,349,8.142857,2,1412,C2,7.0
581,CO,F,947.0,300,469.0,3,947.0,2,360.0,342,85.000000,0,1602,C1,100.0

In [39]:
health1.loc[[79, 81], ['ic1','pobc1']]

    ic1  pobc1
79  215      2
81  479     10

In [40]:
new_health = health1.iloc[[79, 81], 3:7]

In [41]:
health1['gender'].unique()

array(['M', 'F', 'female', 'Male', 'unknown', 'U', 'J', 'male', 'Female',
       'feamale'], dtype=object)

In [42]:
health1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1007 entries, 0 to 1006
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   state     1007 non-null   object
 1   gender    1007 non-null   object
 2   medianhv  1007 non-null   float64
 3   ic1       1007 non-null   int64
 4   ic4       1007 non-null   float64
 5   hvp1      1007 non-null   int64
 6   incomepc  1007 non-null   float64
 7   pobc1     1007 non-null   int64
 8   ic2       1006 non-null   float64
 9   ic3       1007 non-null   int64
 10  avggift   1007 non-null   float64
 11  tcode     1007 non-null   int64
 12  dob       1007 non-null   int64
 13  domain    1007 non-null   object
 14  target_d  1007 non-null   float64
dtypes: float64(6), int64(6), object(3)
memory usage: 118.1+ KB

In [43]:
list2=list(health1['gender'])
genderr=[]
for i in list2:
    if i == 'f' or i == 'female' or i == 'Female' or i=='F':
        genderr.append('female')
    elif i == 'm'or i == 'male' or i == 'Male' or i=='M':
        genderr.append('male')
    else:
        genderr.append('Unknown')

In [51]:
genderr=health1['gender']